/.vim/view/
**/Session.vim
**/tramp
**/*.vim-bookmarks
.config/btop/btop.log
.config/spacefm/
.config/dconf/
.config/pulse/
.config/ibus/
.config/chromium/
.config/mihomo-party/
zen/lock
.config/GIMP/
.config/libreoffice/
.config/pulse/
.config/btop/
.config/rc/
.config/vlc/
.config/gtk-3.0/
.config/pavucontrol.ini
.config/mimeapps.list

*.py[cod]
__pycache__/


dotfile/.emacs.d/auto-save-list/
dotfile/.emacs.d/backups/
dotfile/.emacs.d/eln-cache/
dotfile/.emacs.d/pyim/
dotfile/.emacs.d/snippets/
dotfile/.emacs.d/transient/
dotfile/.emacs.d/var/
dotfile/.emacs.d/.hl-save
dotfile/.emacs.d/recentf
dotfile/.emacs.d/tramp
dotfile/.emacs.d/.org-id-locations
dotfile/.emacs.d/org-roam.db
dotfile/.emacs.d/bookmarks
dotfile/.emacs.d/bookmarks.eld
dotfile/.emacs.d/org-clock-save.el
dotfile/.emacs.d/*~
dotfile/.emacs.d/\#*\#
dotfile/.emacs.d/.#*
dotfile/.emacs.d/ac-comphist.dat
dotfile/.emacs.d/save_cursor_place
dotfile/.emacs.d/auto-saves/
dotfile/.emacs.d/elpa/gnupg/tofu.db
dotfile/.emacs.d/cache/
dotfile/.emacs.d/blink-search.db
dotfile/.emacs.d/./blink-search/history.txt
dotfile/.emacs.d/__pycache__/
dotfile/.emacs.d/undo-fu-session/
dotfile/.emacs.d/vulpea.db*

