* {
    /* Theme settings */
    highlight: bold;
    scrollbar: false;

    /* Gruvbox dark colors */
    gruvbox-dark-bg0-hard:     #1d2021;
    gruvbox-dark-bg0:          #282828;
    gruvbox-dark-bg2:          #504945;
    gruvbox-dark-fg0:          #a89984;
    gruvbox-dark-fg1:          #665c54;
    gruvbox-dark-red-dark:     #cc241d;
    gruvbox-dark-red-light:    #fb4934;
    gruvbox-dark-yellow-dark:  #fabd2f;
    gruvbox-dark-yellow-light: #fabd2f;
    gruvbox-dark-gray:         #585858;

    /* Theme colors */
    background:                  @gruvbox-dark-bg0-hard;
    background-color:            @background;
    foreground:                  @gruvbox-dark-fg1;
    border-color:                @gruvbox-dark-gray;
    separatorcolor:              @border-color;
    scrollbar-handle:            @border-color;

    normal-background:           @background;
    normal-foreground:           @foreground;
    alternate-normal-background: @gruvbox-dark-bg0;
    alternate-normal-foreground: @foreground;
    selected-normal-background:  @gruvbox-dark-bg2;
    selected-normal-foreground:  @gruvbox-dark-yellow-dark;

    active-background:           @gruvbox-dark-bg0;
    active-foreground:           @background;
    alternate-active-background: @active-background;
    alternate-active-foreground: @active-foreground;
    selected-active-background:  @gruvbox-dark-yellow-dark;
    selected-active-foreground:  @gruvbox-dark-yellow-dark;

    urgent-background:           @gruvbox-dark-red-dark;
    urgent-foreground:           @background;
    alternate-urgent-background: @urgent-background;
    alternate-urgent-foreground: @urgent-foreground;
    selected-urgent-background:  @gruvbox-dark-red-light;
    selected-urgent-foreground:  @urgent-foreground;
}

@import "~/.config/rofi/gruvbox-common.rasi"
